
.header__span{
    font-size: large;
    text-align: center;
    color: gray;
    margin-right: 4px;
}

.header__h1{
    color: white;
}

.header__input{
    width: 40px;
    height: 25px;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 8px;
    font-weight: 600;
}